@{
    ViewBag.Title = "Home Page";
}
@using Isa2017Cinema.Models
@model List<ApplicationUser>
@if (Request.IsAuthenticated)
{
    <div>
        <h2>Ulogovan si</h2>
    </div>
}else{
    <h2>Tralala</h2>
}