@{
    ViewBag.Title = "Home Page";
}
@using Isa2017Cinema.Models
@model List<ApplicationUser>

<div ng-controller="MyPageController">
    <div class="col-lg-12" ng-view></div>
    
    <ul>
        <li ng-repeat="user in usersList"><p>{{user.Email}}</p></li>
    </ul>      
</div>