@model Isa2017Cinema.Models.Recension
@{
    ViewBag.Title = "AlreadyGaveRecensionProjection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white">You already gave @Model.RatingProjection for this projection </h2>

