@model Isa2017Cinema.Models.Recension
@{
    ViewBag.Title = "AlreadyGaveRecensionLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white">You already gave @Model.RatingLocation for this location </h2>


